<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.emsp.mapper.AccountMapper">

    <select id="getAccountById" resultType="com.example.emsp.model.po.AccountPO">
        select * from account where id = #{id}
    </select>

    <insert id="insertAccount" parameterType="com.example.emsp.model.po.AccountPO"
            keyProperty="id" useGeneratedKeys="true">
        insert into account (service_id, fleet_solution, contract_id, status)
        values (#{serviceId}, #{fleetSolution}, #{contractId}, #{status})
    </insert>

    <update id="updateStatusOfAccount">
        update account set status = #{status}, last_updated = NOW() where id = #{id}
    </update>

    <select id="pageAccounts" resultType="com.example.emsp.model.po.AccountPO">
        SELECT * FROM account
    </select>

</mapper>