<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.emsp.mapper.AccountTokenRelMapper">

    <insert id="insertAccountTokenRel" parameterType="com.example.emsp.model.po.AccountTokenRelPO"
            keyProperty="id" useGeneratedKeys="true">
        insert into account_token_rel (account_id, token_Id)
        values (#{accountId}, #{tokenId})
    </insert>

</mapper>